<div class="container-fluid px-4 py-5 my-5 text-center">
    <div class="lc-block mb-4">
        <div editable="rich">
            <h2 class="display-2 fw-bold">Are you a <span class="text-primary">Part-Time Student?</span></h2>
        </div>
    </div>
    <div class="lc-block col-lg-6 mx-auto mb-5">
        <div editable="rich">

            <p class="lead">On this website, you can transition from being a part time student to a full time student</p>
        </div>  
    </div>

    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a
            class="btn btn-primary btn-lg px-4 gap-3" href="/transfer" role="button">Switch to Full Time</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="#" role="button">Contact Us</a>
    </div>
    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center ">
        <img class="img-fluid"
            src="/img/studentslearning.jpg"
            width="" height="400" srcset="" sizes="" alt="">
    </div>
</div>